h1 {
  text-align: center;
}

.selected {
  border-radius: 50%;
}

.color {
  width: 50px;
  height: 50px;
  margin: 3px;
  border: solid 1px black;
  cursor: pointer;
}

#color-palette {
  max-width: 230px;
  display: flex;
  margin: auto;
  padding-bottom: 25px;
}

.black-square {
  background-color: black;
}

.green-square {
  background-color: green;
}

.red-square {
  background-color: red;
}

.blue-square {
  background-color: blue;
}

#clear-board {
  display: block;
  background-color: #04aa6d;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  margin: 0 auto 25px;
  padding: 6px 18px;
}

#clear-board:hover {
  background-color: #0b9663;
}

#pixel-board {
  max-width: 200px;
  height: 200px;
  margin: 0 auto;
}

.pixel-line {
  display: flex;
}

.pixel {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  background-color: white;
  border: solid 1px;
}

.bg-green {
  background-color: green;
}
